.contacts {
  max-width: 1140px;
  margin: 0 auto;
  padding: 46px 15px 50px;
}

.contacts__section-title {
  margin-bottom: 20px;
}

.contacts__content {
  margin-top: 70px;
  display: flex;
}

.contacts__iframe {
  width: 528px;
  height: 366px;
  border: none;
  margin-right: 50px;
}

.contacts__info-title {
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #5B5855;
}

.contacts__info-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;

  color: #5B5855;
}

.contacts__info-phone {
  text-decoration: none;
}

.contacts__info-phone:hover {
  opacity: .8;
  transition: all .2s, opacity .2s linear;
}

.contacts__info-item {
  display: flex;
  align-items: center;
}

.contacts__info-item_type_no-icon {
  align-items: flex-start;
}

.contacts__info-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.contacts__info-icon {
  margin-right: 10px;
  width: 25px;
}

.contacts__info-link {
  text-decoration: none;
  color: #5B5855;
}

.contacts__info-link:not(:last-of-type) {
  margin-right: 10px;
}

.contacts__info-link:hover {
  opacity: .8;
  transition: all .2s, opacity .2s linear;
}

@media screen and (max-width: 900px) {
  .contacts__iframe {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__content {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .contacts__info {
    margin-top: 30px;
  }

  .contacts__info-title {
    font-size: 15px;
    line-height: 16px;
  }

  .contacts__info-subtitle {
    font-size: 15px;
    line-height: 16px;
  }

  .contacts__ig-icon {
    width: 30px;
  }

  .contacts__iframe {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .contacts__info-phone-nums{
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 428px) {
  .contacts__iframe {
    width: 300px;
    height: 200px;
  }


  .contacts__info-title {
    font-size: 14px;
    line-height: 15px;
  }

  .contacts__info-subtitle {
    font-size: 14px;
    line-height: 15px;
  }

}