.header-wrapper {
  margin: 0;
  padding: 13px 0 10px;
  z-index: 4;
  transition: all 0.2s, opacity 0.2s linear;
}

.header-wrapper_type_main {
  background: linear-gradient(279.51deg, #fff3ea 30.35%, #f3f3f3 100%);
}

.header-wrapper_type_other {
  background: white;
}

.header-wrapper_type_sticky {
  padding: 5px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 5px #0000001f);
}
