.page {
  position: relative;
  font-family: "Inter";
  margin: 0 auto;
  width: 100%;
}

.page__top-wrapper {
  margin: 0;
  background: linear-gradient(279.51deg, #fff3ea 54.49%, #f3f3f3 100%);
}

.page_type_no-scroll {
  height: 100vh;
  overflow: hidden;
}
